body {
    background-color: #1F1D1D;
    margin: 0;
    font-family: Raleway, serif;
    font-feature-settings: "lnum";
}

@media (min-width: 1920px) {
    .increasing-icon {
        width: 90px;
        height: 90px;
    }
    .image-therapists {
        width: 365px;
        height: 550px;
    }
    .image-certificate {
        height: 650px;
        width: 750px;
    }
    .massage-cart {
        width: 364px;
    }
    .col-sm {
        width: 100%;
    }

    .col-md {
        width: 50%;
    }

    .col-lg {
        width: 33.33%;
    }

    .col-xl {
        width: 70%;
    }
}
